<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ITokenLicenseService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/TokenLicSrv" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_ITokenLicenseService"
                contract="ServiceReference1.ITokenLicenseService" name="NetNamedPipeBinding_ITokenLicenseService">
                <identity>
                    <servicePrincipalName value="host/MARTINP-NB01.dev.wonderware.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>